
body{
    color:rgba(67, 68, 85, 1);
    background-color: #ffffff;
}
.logo{
    color:#4D5AE5;
}

.logo-studio{
    color: #2E2F42;
}
.list{
    list-style: none;
}

/*колір основного тексту
  color:#2E2F42;*/


  /*колір другого тексту
  rgba(67, 68, 85, 1)
  color: #434455;
  #E7E9FC*/


  /*білий color:#ffffff;*/

  /*акцент #4D5AE5;*/






/*header*/





/*main*/











/*footer*/