:root{
    --primary-text-color:rgba(67, 68, 85, 1);
    --title-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --primary-white-color: #ffffff;
    --primary-light-color: #E7E9FC;
}
body{
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

/*logo*/
.logo {
    color:var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo .accent{
    color:var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    
}
.list{
    list-style: none;
}
.logo-studio:hover
.logo-studio:focus{
    color:var(--primary-text-color); /*який колір?*/   
}
.logo:hover
.logo:focus{
    color:var(--primary-text-color);

}

/*site-nav*/

.site-nav .link{
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .link:hover
.site-nav .link:focus{
    color:var(--primary-text-color); 
}
.site-nav .link.current{    
    color:var(--accent-color);
}
/*out-nav*/
.aut-nav .link{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

/*hero*/
.hero-title{
   color:var(--primary-white-color);
   background-color: var(--primary-light-color);
   font-weight: 600;
   font-size: 56px;
   line-height:1.07;
   text-align: center;

}
/*button*/

.button{
    color:var(--primary-white-color);
    background-color:var(--accent-color); 
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    cursor: pointer;

}
/*section*/
.fueture-list .title{
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
 /*.fueture-list .text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px

letter-spacing: 0.02em;
подивитися до всіх р і заголовків 

color: #434455;*/ 


 

/*work*/
.work-list .title {
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}


/*team*/

.team-list .title{
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.team-list .text{
    color:var(--primary-text-color);
}



.footer-text{
    color: var(--primary-light-color);
}













/*footer*/